<nav class="navbar navbar-expand-lg navbar-dark bg-purple mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" *ngIf="authService.currentUserValue">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/login" *ngIf="!authService.currentUserValue">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/auth/signup" *ngIf="!authService.currentUserValue">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout($event)" *ngIf="authService.currentUserValue">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>